@font-face {
    font-family: FiraCodeRetina;
    src: url('/fonts/FiraCode-Retina.ttf');
}

html, body {
    height: auto;
    line-height: 1.7;
}

body {
    font-family: "Fira Code", serif;
    margin-top: 50px;
}

body p {
    font-family: "Fira Code", serif;
}

#topsection {
    background-color: #2098d1;
    width: 100%;
    position: fixed !important;
    z-index: 99999;

}

#topsection .container-fluid {
    height: auto !important;

}

#topsection .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 9px 7px;
}

#titlearea {

    background-color: #2098d1;
    color: white;
    text-align: center;

}

#titlearea .undertitle {
    margin-top: 10px;
    margin-bottom: 30px;
}

#titlearea .maintitle {
    margin-top: 35px;
    margin-bottom: 5px;
}

#titlearea .container-fluid {
    margin-top: 63px;

}

.navbar-nav {
    background-color: transparent;
    margin: auto;
    float: right;
}

.nav > li > a {
    padding: 14px 5px;
}

@media (max-width: 768px) {

    .navbar-nav {
        float: none !important;
        display: block;
        padding-top: 17px;
    }

    .navbar-collapse {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.navbar-header {
    margin-top: -14px;
}

.hvr-underline-reveal {
    font-size: 15px;
    font-family: "Fira Code Retina", sans-serif;
    background-color: transparent;
    text-align: center;

}

.navbar-collapse {
    width: 100%;
}

#middlesection {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f9f9f9;
    text-align: left;
    height: auto;
    font-family: "Fira Code Retina", serif;
}

#middlesection .ul {
    margin-left: 10px;
}

#middlesection .progress {
    margin: 30px;
}

#middlesection #experiencelist {
    margin-top: 15px;
    margin-left: -20px;
}

#middlesection .img-thumbnail {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}

#middlesectiontext {
    margin-top: -25px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #333333;
    padding: 15px;
    color: white;
    float: left;
    margin-top: 0 !important;
    margin-bottom: -15px;
}

#footerright {
    line-height: 2.5;
}

