@font-face {
    font-family: FiraCodeRetina;
    src: url('/fonts/FiraCode-Retina.ttf');
}

html, body {
    height: 100%;
    line-height: 1.7;
}

body {
    font-family: "Fira Code Retina", serif;
    margin-top: 50px;
}

body p {
    font-family: "Fira Code Retina", serif;
}

#topsection {
    background-color: #006ab7;
    width: 100%;
    position: fixed !important;
    z-index: 99999;

}

#topsection .container-fluid {
    height: auto !important;
}

#topsection .navbar-toggle {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 9px 7px;
}

#titlearea {
    background-color: #006ab7;
    color: white;
    text-align: center;
}

.navbar-header {
    padding-left: 100px;
}

#titlearea .undertitle {
    margin-top: 10px;
    margin-bottom: 30px;
}

#titlearea .maintitle {
    margin-top: 35px;
    margin-bottom: 5px;
}

#titlearea .container-fluid {
    margin-top: 63px;
}

.fa {
    -o-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -khtml-transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -ms-transition: color .2s linear;
    transition: color .2s linear;
}

.fa:hover {
    color: #006ab7;
}

.navbar-nav {
    background-color: transparent;
    margin: auto;
    float: right;
}

.nav > li > a {
    padding: 14px 5px;
}

@media (max-width: 768px) {

    .navbar-nav {
        float: none !important;
        display: block;
        padding-top: 17px;
    }

    .navbar-header {
        margin-top: 0;
        padding-left: 0;
    }

    .navbar-brand {
        padding: 0 15px;
    }

    .navbar-collapse {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}


.navbar-header {
    margin-top: 0;
}

.navbar-brand {
    padding: 0 15px;
}

.hvr-underline-from-center {
    font-size: 15px;
    font-family: "Fira Code Retina", sans-serif;
    background-color: transparent;
    text-align: center;
}

.hvr-underline-from-center:before {
    background-color: #006ab7;
}

.navbar-collapse {
    width: 100%;
}

#middlesection {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e7e7e7;
    text-align: left;
    min-height: 100%;
    font-family: "Fira Code Retina", serif;
}

#middlesection .ul {
    margin-left: 10px;
}

#middlesection .progress {
    margin: 30px;
}

#middlesection #experiencelist {
    margin-top: 15px;
    margin-left: -20px;
}

#middlesection .img-thumbnail {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}

#middlesectiontext {
    margin-top: -25px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background-color: #333333;
    padding: 15px;
    color: white;
    float: left;
    margin-top: 0 !important;
    margin-bottom: -15px;
}

.centerfont {
    text-align: center;
}

.footerspacer dd {
    padding: 10px;
}

.iconfooter {
    color: white;
    font-size: 4em;
    display: inline-block;
    margin-right: 60px;
    margin-left: 60px;
}

@media (max-width: 430px) {
    .iconfooter i {
        font-size: 5em;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .iconfooter {
        margin: 0 0 0 0;
    }
}

.iconheader {
    color: white;
    font-size: 4em;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;

}

#sociallinkslist {
    list-style-type: none;
    -webkit-padding-start: 0;
}

.li {
    display: inline-block;
    *display: inline; /*IE7*/
    *zoom: 1; /*IE7*/
    background: blue;
    color: white;
    margin-right: 10px;
}

.ul {
    -webkit-padding-start: 0;
}

